/*** Fonts ***/

@font-face {
  font-family: 'akkurat-pro-bold';
  src: local('akkurat-pro-bold'), local('AkkuratPro-Bold'),
        url(./fonts/lineto-akkurat-pro-bold.eot) format('embedded-opentype'), /* IE6-IE8 */
        url(./fonts/lineto-akkurat-pro-bold.woff) format('woff'), /* Modern Browsers */
        url(./fonts/lineto-akkurat-pro-bold.ttf) format('truetype'), /* Safari, Android, iOS */
        url(./fonts/lineto-akkurat-pro-bold.svg) format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'akkurat-pro-regular';
  src: local('akkurat-pro-regular'), local('AkkuratPro-Regular'),
        url(./fonts/lineto-akkurat-pro-regular.eot) format('embedded-opentype'), /* IE6-IE8 */
        url(./fonts/lineto-akkurat-pro-regular.woff) format('woff'), /* Modern Browsers */
        url(./fonts/lineto-akkurat-pro-regular.ttf) format('truetype'), /* Safari, Android, iOS */
        url(./fonts/lineto-akkurat-pro-regular.svg) format('svg'); /* Legacy iOS */
}

body {
  font-family: 'akkurat-pro-bold';
}

p {
  font-family: 'akkurat-pro-regular';
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 2vh;
}

h6 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 2.5vh auto;
}

/*** Text Formatting ***/

h2, button {
  text-transform: uppercase;
  font-weight: bold;
}

#subtitle {
  font-weight: bold;
}

h1, h3 {
  font-weight: bold;
}

button a {
  display: block;
  width: 100%;
  height: 100%;
}

.resultText {
  text-align: left;
  color: #292929;
}

.resultCopy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding:1rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Question Component */
.question {
  margin: 0 auto;
  color: #db2f36;
}

.questionParent {
  width:100%;
  text-align: center;
}


/*** Structure Styling ***/

* {
  box-sizing: border-box;
}

body {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 360px;
    color: #ffffff;

    background-image: url('./img/desktop-background.png');
    background-position: center center;
    background-size: cover;

}

@media (max-width: 400px) {
  body{
    background-image: url('./img/mobile-background.png');
    background-position: center center;
    background-size: cover;
    min-width: 360px;
  }
}

.whiteBox {
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
}

/*** Button Styling ***/

button:hover {
  cursor: pointer;
}

.btn{
  padding: 5px 20px;
  margin: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);

  text-transform: uppercase;
}

.result-btn {
  min-width: 12vw;
  min-height: 3rem;
}

.answer-btn {
  min-width: 100px;
  min-height: 3rem;
}

.result-btn a, .result-btn {
  text-decoration: none;
  color: #db2f36;
}

.result-btn:hover {
  color: #ffffff;
}

.btn-outline-primary {
  border-width: 3px;
}

#share-btn {
  font-size: 0.9rem;
  padding:5px;
}

#Gift, #Start, #buy-btn {
  background-color: #db2f36;
  color: #ffffff;
  border-color: #db2f36;
  border-width: 3px;
}

#buy-btn a {
  color:#ffffff;
}

#Gift:hover, #Start:hover, #buy-btn:hover {
  background-color: #d8555b;
  color: #ffffff;
  border-color: #d8555b;
  border-width: 3px;
}

/*** Pixel Perfect Styling ***/

/* Desktop */

@media (min-width: 992px) {

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3, h4 {
    font-size: 1.8rem;
    max-width: 600px;
  }

  h6 {
    max-width: 600px;
  }

  #resultImg {
    max-height: 150px;
    max-width:200px;
    height:20vh;
    width: auto;
    margin: 0 auto;
  }

  .resultImage {
    position: absolute;
    width: 200px;
    height: 200px;

    top: 50%;
    left: 50%;

    margin-left: -380px;
    margin-top: -100px;

  }

  .resultText {
    position: absolute;
    width: 600px;
    height: 200px;

    top: 50%;
    left: 50%;

    margin-left: -200px;
    margin-top: -100px;

    padding: 30px 25px;
  }

  .whiteBox {
    position: absolute;
    width: 800px;
    height: 200px;

    top: 50%;
    left: 50%;

    margin-left: -400px;
    margin-top: -100px;
  }
  .buttonsGroup {
    position: absolute;
    width: 800px;
    height: 200px;

    top: 50%;
    left: 50%;

    margin-left: -400px;
    margin-top: 120px;
  }

  #header {
    position: absolute;
    width: 800px;

    top: 0%;
    left: 50%;

    margin-left: -400px;
    margin-top: 10vh;
  }

  #footer {
    position: absolute;
    width: 800px;

    top: 100%;
    left: 50%;

    margin-left: -400px;
    margin-top: -160px;
  }

  .logo {
    height: 2.7rem;
    width: auto;
  }
}

/* Tablet */

@media (min-width: 640px) and (max-width: 992px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3, h4 {
    font-size: 1.6rem;
    max-width: 500px;
  }

  h6 {
    max-width: 500px;
  }

  .resultCopy {
    padding: 0;
  }

  #resultImg {
    max-height: 100%;
    max-width: 100%;
    height:auto;
    width: 100%;
    margin: 0 auto;
    padding:0 20px;
  }

  .resultImage {
    position: absolute;
    width: 40%;
    height: 30vh;

    top: 50%;
    left: 50%;

    margin-left: -50%;
    margin-top: -15vh;

  }

  .resultText {
    position: absolute;
    width: 60%;
    height: 30vh;

    top: 50%;
    left: 50%;

    margin-left: -10%;
    margin-top: -15vh;
  }

  .whiteBox {
    position: absolute;
    width: 80%;
    height: 30vh;

    top: 50%;
    left: 50%;

    margin-left: -40%;
    margin-top: -15vh;
  }
  .buttonsGroup {
    position: absolute;
    width: 100%;

    top: 50%;
    left: 50%;

    margin-left: -50%;
    margin-top: 17vh;
  }

  #header {
    position: absolute;
    width: 80%;

    top: 0%;
    left: 50%;

    margin-left: -40%;
    margin-top: 10vh;
  }

  #footer {
    position: absolute;
    width: 80%;

    top: 100%;
    left: 50%;

    margin-left: -40%;
    margin-top: -15vh;
  }
  .logo {
    height: 2.1rem;
    width: auto;
  }
}

/* Mobile */

@media (max-width: 640px) {

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3, h4 {
    font-size: 1.2rem;
    max-width: 100%;
    margin: 0 auto;
  }

  h6, p {
    font-size: 1rem;
  }

  .resultCopy {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:100%;
    text-align: center;
    padding:20px;
  }

  #resultImg {
    max-height: 100%;
    max-width:100%;
    height:15vh;
    width: auto;
    margin: 0 auto;
    padding:0 20px;
  }

  .resultImage {
    position: absolute;
    width: 100%;
    height: 15vh;

    top: 50%;
    left: 50%;

    margin-left: -50%;
    margin-top: -19vh;

  }

  .resultText {
    position: absolute;
    width: 100%;
    height: 25vh;

    top: 50%;
    left: 50%;

    margin-left: -50%;
    margin-top: -5vh;
  }

  .whiteBox {
    position: absolute;
    width: 80%;
    height: 40vh;

    top: 50%;
    left: 50%;

    margin-left: -40%;
    margin-top: -20vh;
  }
  .buttonsGroup {
    position: absolute;
    width: 80%;

    top: 50%;
    left: 50%;

    margin-left: -40%;
    margin-top: 22vh;
  }

  #header {
    position: absolute;
    width: 80%;

    top: 0%;
    left: 50%;

    margin-left: -40%;
    margin-top: 8vh;
  }

  #footer {
    position: absolute;
    width: 80%;

    top: 100%;
    left: 50%;

    margin-left: -40%;
    margin-top: -18vh;
  }

  .logo {
    height: 1.5rem;
    width: auto;
  }

  .buttonsGroup button {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
  }

  #share-btn {
    display: none;
  }
}

/*** Animation ***/


.text-enter {
  opacity: 0;
  transform: translate(-20%);
}
.text-enter.text-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: all 500ms ease-out;
  transition-delay: 100ms;
}
.text-leave {
  opacity: 1;
  transform: translate(0%);
}
.text-leave.text-leave-active {
  opacity: 0;
  transition: all 1ms ease-in;
}
